

.comment{
    margin: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
}
.author{
    margin: 5px;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-weight: bold;
}

.text{
margin: 5px;
font-weight: lighter;

}



.commentForm{
    margin: 10px;
}

.commentText{
    width: 70%;
}

.btn{
    border-radius: 10px;
    margin: 5px;

}

