
/* body{
   margin: 10px;
} */
/* .card{
    border-radius: 30px;
    background-color:#343a40;
    padding: 15px;
    margin: 10px;
    inline-size: 45%;
    float: left;
}
.player{
    width: 80%;
    float: left;
    margin-right: 10px;

}

.info{
    position: relative;
    
    text-align: center;

    color: white;
    
} 

.image{
    width: 150px;
    height: 150px;
    text-align: center;
} */