
/* body{
   margin: 10px;
} */
.card{
    position:relative;
    width: 90%;
    border-radius: 30px;
    background-color:#343a40;
    padding: 15px;
    margin: 10px;
    /* inline-size: 45%;
     */
    float: left;
}
.player{
    width: 80%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    /* background-color: purple; */
    /* position: relative; */
    /* margin: 20px; */
}

.info{
    /* position: absolute; */
    top: 10px;
    right: 100px;
    float: right;
    /* text-align: center; */
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    color: white;
    
} 

.image{
    /* position: relative; */
    /* top: 10px;
    right: 190px; */
    /* margin: 20px; */
    border-radius: 10px;
    /* text-align: left; */
    width: 150px;
    height: 150px;
    
}

.icons{
    margin: 10px;
}