
/* body{
   margin: 10px;
} */
.card{
    border-radius: 30px;
    background-color:#343a40;
    padding: 15px;
    margin: 10px;
    inline-size: 45%;
    float: left;
}
.player{
    width: 80%;
    float: left;
    margin-right: 10px;
    /* background-color: purple; */
    /* position: relative; */
    /* margin: 20px; */
}

.info{
    position: relative;
    
    text-align: center;
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    color: white;
    
} 

.image{
    width: 150px;
    height: 150px;
    text-align: center;
}